.parent{
    background: dodgerblue;
}
.child{
    background: white;
}
/*块级元素*/
#example_1 .parent{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
}
#example_1 .child{
    width: 50%;
    margin: auto;
}
/*行内元素*/
#example_2 .parent{
    text-align: center;
}
